<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Lines</title>
  <style>
    .line-input {
      width: 100px;
    }
  </style>
</head>
<body>
<h1>All Lines</h1>
<table>
  <thead>
  <tr>
    <th style="display: none;">ID</th>
    <th>Name</th>
    <th>Date</th>
    <th>Salary</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="line : ${lines}" th:data-id="${line.id}">
    <td style="display: none;" th:text="${line.id}"></td>
    <td class="name" th:text="${line.name}"></td>
    <td class="date" th:text="${line.date}"></td>
    <td class="salary" th:text="${line.salary}"></td>
    <td>
      <form th:action="@{/lines/delete}" method="post">
        <input type="hidden" name="id" th:value="${line.id}" />
        <button type="submit">Удалить</button>
      </form>
      <button type="button" onclick="editLine(this)">Изменить</button>
    </td>
  </tr>
  <td>Average Salary: <span th:text="${averageSalary}"></span></td>
  <td>Total Salary: <span th:text="${totalSalary}"></span></td>
  <td>Max Salary: <span th:text="${maxSalary}"></span></td>

  </tbody>
</table>

<h1>Add line</h1>
<form action="/lines/add" method="post">
  <label>Имя:</label>
  <input type="text" name="name" /><br/>

  <label>Зарплата:</label>
  <input type="text" name="salary" /><br/>

  <button type="submit">Добавить строку</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function editLine(button) {
    var lineRow = $(button).closest('tr');
    var nameInput = lineRow.find('.name-input');
    var salaryInput = lineRow.find('.salary-input');

    if (nameInput.length === 0 || salaryInput.length === 0) {
      // Кнопка "Изменить" была нажата, преобразуем элементы в поля для ввода
      var name = lineRow.find('.name').text();
      var salary = lineRow.find('.salary').text();

      nameInput = $('<input type="text" class="line-input name-input" value="' + name + '">');
      salaryInput = $('<input type="text" class="line-input salary-input" value="' + salary + '">');

      lineRow.find('.name').html(nameInput);
      lineRow.find('.salary').html(salaryInput);

      $(button).text('ОК');
    } else {
      // Кнопка "ОК" была нажата, сохраняем изменения
      var newName = nameInput.val();
      var newSalary = salaryInput.val();

      lineRow.find('.name').text(newName);
      lineRow.find('.salary').text(newSalary);

      $(button).text('Изменить');
      sendLineChanges(lineRow.attr('data-id'), newName, newSalary);
    }
  }

  function sendLineChanges(lineId, newName, newSalary) {
    // Отправить AJAX-запрос на сервер для сохранения изменений
    var url = '/lines/update';
    var data = { id: lineId, name: newName, salary: newSalary };

    $.post(url, data);
  }
</script>

</body>
</html>
