<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Lines</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>All Lines</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Date</th>
    <th>Salary</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="line : ${lines}">
    <td th:text="${line.id}"></td>
    <td th:text="${line.name}"></td>
    <td th:text="${line.date}"></td>
    <td th:text="${line.salary}"></td>
    <td>
      <form th:action="@{/lines/delete}" method="post">
        <input type="hidden" name="id" th:value="${line.id}" />
        <button type="submit">Удалить</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
